<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">后台管理</li>
            <li class="treeview active">
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/category/index')}"><i class="fa fa-circle-o"></i>商品分类</a></li>
                    <li><a href="{:url('admin/news/index')}"><i class="fa fa-circle-o"></i>商品详情</a></li>
                </ul>
            </li>

            <li class="header">首页信息管理</li>
            <li class="treeview active">
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/banner/index')}"><i class="fa fa-circle-o"></i>banner</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/nav/index')}"><i class="fa fa-circle-o"></i>导航详情</a></li>
                </ul>
            </li>

            <li class="header">密码管理</li>
            <li class="treeview active">
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/index/editpass')}"><i class="fa fa-circle-o"></i>修改密码</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>