{extend name="public/master"}
{block name="content"}
<div class="cate_content" style="overflow: hidden;">
    <div class="row center">
        {volist name="$goodsAllData" id="vo" empty="没没有更多了"}
        <a href="{:url('index/index/contents',['id'=>$vo.id])}" cid="{$vo.cid}" class="col-xs-12 p10">
            <div class="col-xs-5">
                <img class="lazy" style="width: 100%;max-width: 140px;" data-original="__ROOT__/uploads/{$vo.pic}" alt="">
            </div>
            <div class="col-xs-7" style="height: 140px;overflow: hidden;">
                <div class="row fontSize_title">
                    {$vo.name}
                </div>
                <div class="row fontSize_mess">
                    {$vo.introduction}
                </div>
                <div class="row">
                    <div class="col-xs-6 m_p_zreo fontSize_cat">天猫价：{$vo.oldprice}</div>
                    <div class="col-xs-6">
                        <div class="fontSize_buy">{$vo.hadbuy}人想买</div>
                    </div>
                </div>
                <div class="row center_price">
                    <div class="col-xs-6 m_p_zreo fontSize_now">¥{$vo.price}</div>
                    <div class="col-xs-6">
                        <div class="juan" style="background-image:url('__ROOT__/index/img/jaun-1.png') ">
                            {if condition="$vo.mid"}
                            {$vo.ticket}
                            {else /}
                            {$vo.ticket}元 券
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {/volist}
    </div>
</div>
<script>
    $(function () {
      var cid="{$cid}";
      var aLen=$('.a_active');
      for (var i=0;i<aLen.length;i++){
        var a_cid=aLen.eq(i).attr('cid');
        if(cid==a_cid){
          $('.a_active_in').removeClass('active');
          aLen.eq(i).addClass('active').siblings('.a_active').removeClass('active');
        }
      }

      var oheight = $('nav').height();
      $('.cate_content').css({'marginTop': oheight + 'px'});

      var sta = true;
      $('.nav_mess').click(function () {
        if (sta) {
          $('.nav_dowm').show();
          sta = false;
        } else {
          $('.nav_dowm').hide();
          sta = true;
        }
      });
    })
</script>
{/block}