{extend name="public/master"}
{block name="content"}

<div style="overflow: hidden;">
    <div class="row center">
        {volist name="$goodsData" id="vo" offset="1" length='4'}
        <a href="{:url('index/index/contents',['id'=>$vo.id])}" class="col-xs-12 p10">
            <div class="col-xs-5">
                <img src="__ROOT__/uploads/{$vo.pic}" width="140" height="140" alt="">
            </div>
            <div class="col-xs-7" style="height: 140px;overflow: hidden;">
                <div class="row fontSize_title">
                    {$vo.name}
                </div>
                <div class="row fontSize_mess">
                    {$vo.introduction}
                </div>
                <div class="row">
                    <div class="col-xs-6 m_p_zreo fontSize_cat">天猫价：{$vo.oldprice}</div>
                    <div class="col-xs-6 fontSize_buy">
                        {$vo.hadbuy}人已购
                    </div>
                </div>
                <div class="row center_price">
                    <div class="col-xs-6 m_p_zreo fontSize_now">¥{$vo.price}</div>
                    <div class="col-xs-6">
                        <div class="juan" style="background-image:url('__ROOT__/index/img/jaun-1.png') ">
                            {$vo.ticket}元 券
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {/volist}
    </div>
    <div class="row p30">
        <a href="{:url('index/index/category',['cid'=>9999])}" class="col-xs-8 col-xs-offset-2"
           style="background: #ff5044;height: 50px;border-radius: 50px;text-align: center;line-height: 50px;color: white;font-size: 18px;">
            查看更多
        </a>
    </div>
</div>

<!-- Modal -->
<div class="modal-backdrop in opas opa"></div>
<div class="col-xs-8 col-xs-offset-2 index_model opa" style="background: white;padding: 0;">
    <div class="row">
        <div class="col-xs-12">
            <img src="__ROOT__/uploads/{$goodsData[0]['pic']}" width="100%" alt="" style="display: block;border-radius: 10px 0 0 0;">
            <div class="closed">×</div>
        </div>
    </div>
    <div class="col-xs-12" style="height: 70px;overflow: hidden;">
        <div class="" style="font-size: 16px;line-height: 28px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;">
            {$goodsData[0]['name']}
        </div>
        <div class="center_price">
            <div class="col-xs-6 m_p_zreo fontSize_now">¥{$goodsData[0]['price']}</div>
            <div class="col-xs-6">
                <div class="juan" style="background-image:url('__ROOT__/index/img/jaun-1.png') ">
                    {$goodsData[0]['ticket']}元 券
                </div>
            </div>
        </div>
    </div>
    <div class="row p30">
        <a href="{:url('index/index/contents',['id'=>$goodsData[0]['id']])}" class="col-xs-8 col-xs-offset-2 copyed"
           style="background: #ff5044;height: 40px;border-radius: 40px;text-align: center;line-height: 40px;color: white;font-size: 16px;">
            立即查看
        </a>
    </div>
</div>
<script>
    setTimeout(function () {
      $('.opas').removeClass('opa');
      $('.index_model').removeClass('opa');
      $('body').addClass('modal-open');
    },3000);

  $('.closed').click(function () {
    $('.opas').addClass('opa');
    $('.index_model').addClass('opa');
    $('body').removeClass('modal-open');
  });
</script>
{/block}