{extend name='public/master' /}
{block name='content'}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">链接到分类</h3>
    </div>
    <div class="panel-body">
        <a href="{:url('index')}" class="btn btn-info">返回列表</a>
    </div>
    <div class="panel-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">分类</label>
                <div class="col-sm-10">
                    <select class="form-control" name="cid">
                        <option value="9999">全部</option>
                        {volist name="$cateData" id="vo"}
                        {if condition="$vo.cid==$oldData.cid"}
                        <option selected value="{$vo.cid}">{$vo.cname}</option>
                        {else /}
                        <option value="{$vo.cid}">{$vo.cname}</option>
                        {/if}
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">商品</label>
                <div class="col-sm-10">
                    <select class="form-control" name="gid">
                        <option value="0">不链接到商品</option>
                        {volist name="$goodsData" id="vo"}
                        {if condition="$vo.id==$oldData.gid"}
                        <option selected value="{$vo.id}">{$vo.name}</option>
                        {else /}
                        <option value="{$vo.id}">{$vo.name}</option>
                        {/if}
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">超链接</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="超链接" value="{$oldData.urls}" name="urls">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">提交保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}