{extend name='public/master' /}
{block name='content'}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">商品列表</h3>
    </div>
    <div class="panel-body">
        <a href="{:url('admin/goods/addgoods')}" class="btn btn-info">新增商品</a>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>简介</th>
                <th>分类</th>
                <th>图片</th>
                <th>原价</th>
                <th>现价</th>
                <th>优惠券</th>
                <th>优惠券码</th>
                <th>简介</th>
                <th>排序</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="data" id="vo"}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.introduction}</td>
                <td>{$vo.cname}</td>
                <td><img src="__ROOT__/uploads/{$vo.pic}" width="100px" alt=""></td>
                <td>{$vo.oldprice}</td>
                <td>{$vo.price}</td>
                <td>{$vo.ticket}</td>
                <td>{$vo.code}</td>
                <td>{$vo.content}</td>
                <td><input type="text" id="{$vo.id}" name="sort" value="{$vo.sta}">></td>
                <td>
                    <a href="{:url('admin/goods/editgoods',['id'=>$vo.id])}" class="btn btn-primary">编辑</a>
                    <a href="javascript:;" class="btn btn-danger" urls="{:url('admin/goods/delgoods',['id'=>$vo.id])}" data-toggle="modal" data-target="#myModal" onclick="attrcid()">删除</a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                确定删除么？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="return checkdel()">确定删除</button>
            </div>
        </div>
    </div>
</div>
<script>
  var str=null;
  $('.btn-danger').click(function () {
    str=$(this).attr('urls');
  });
  function checkdel(){
    location.href=str;
  }


  var oinputs=$('input[name=sort]');
  var t;
  oinputs.focus(function () {
    t=$(this).val();
  });
  oinputs.blur(function () {
    var This=$(this);
    var id=parseInt(This.attr('id'),10);
    var sort=parseInt(This.val(),10);
    if (id&&sort>=0&&sort!=t){
      $.post("{:url('ajaxEditSort')}",{id:id,sta:sort},function (res) {
        if (res.valid==1){
          This.val(sort);
          alert(res.msg);
          location.reload();
        }else {
          alert(res.msg);
        }
      },'json');
    }else {
      This.val(t)
    }
  });
</script>
{/block}