<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__ROOT__/index/css/swiper-4.1.6.min.css">
    <link rel="stylesheet" href="__ROOT__/index/css/index.css">
    <script src="__ROOT__/index/js/jquery.min.js"></script>
    <script src="__ROOT__/index/js/swiper-4.1.6.min.js"></script>
</head>
<body>
<!--heard sta-->
<div class="top">
    <div class="nav">
        {volist name="topNavData" id="vo"}
        <a class="nav_firsr" href="{:url($vo.urls)}">
            {$vo.name}
            <div class="nav_nav">
                <div class="nav_fox">
                    <div class="nav_fox_left"></div>
                    <div class="nav_fox_right"></div>
                </div>
                {volist name="vo['data']" id="sub"}
                    {if condition="$sub.cid==0"}
                    <a href="javascript:;">NULL</a>
                    {else /}
                    <a href="{:url($vo.urls,['cid'=>$sub.cid])}">{$sub.cname}</a>
                    {/if}
                {/volist}
            </div>
        </a>
        {/volist}
        <!--<a class="nav_firsr" href="{:url('index/news/index')}">-->
            <!--动态-->
            <!--<div class="nav_nav">-->
                <!--<div class="nav_fox">-->
                    <!--<div class="nav_fox_left"></div>-->
                    <!--<div class="nav_fox_right"></div>-->
                <!--</div>-->
                <!--<a href="">二级菜单</a>-->
                <!--<a href="">二级菜单</a>-->
                <!--<a href="">二级菜单</a>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a class="nav_firsr" href="{:url('index/actions/index')}">-->
            <!--行动-->
            <!--<div class="nav_nav">-->
                <!--<div class="nav_fox">-->
                    <!--<div class="nav_fox_left"></div>-->
                    <!--<div class="nav_fox_right"></div>-->
                <!--</div>-->
                <!--<a href="">二级菜单</a>-->
                <!--<a href="">二级菜单</a>-->
                <!--<a href="">二级菜单</a>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a class="nav_firsr" href="{:url('index/teams/index')}">-->
            <!--队伍-->
            <!--<div class="nav_nav">-->
                <!--<div class="nav_fox">-->
                    <!--<div class="nav_fox_left"></div>-->
                    <!--<div class="nav_fox_right"></div>-->
                <!--</div>-->
                <!--<a href="">二级菜单</a>-->
                <!--<a href="">二级菜单</a>-->
                <!--<a href="">二级菜单</a>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a class="nav_firsr" href="{:url('index/contract/index')}">-->
            <!--联系-->
            <!--<div class="nav_nav">-->
                <!--<div class="nav_fox">-->
                    <!--<div class="nav_fox_left"></div>-->
                    <!--<div class="nav_fox_right"></div>-->
                <!--</div>-->
                <!--<a href="">二级菜单</a>-->
                <!--<a href="">二级菜单</a>-->
                <!--<a href="">二级菜单</a>-->
            <!--</div>-->
        <!--</a>-->
    </div>
    <div class="nav_icons">
        <span><img src="__ROOT__/index/img/icon_f1.png" alt=""></span>
        <span><img src="__ROOT__/index/img/icon_f2.png" alt=""></span>
        <span><img src="__ROOT__/index/img/icon_f3.png" alt=""></span>
    </div>
    <div class="logo">
        {if condition="$ac==1"}
        <a href="index.html"><img src="__ROOT__/index/img/logo.png" width="300" height="80" alt=""></a>
        {else /}
        <a href="index.html"><img src="__ROOT__/index/img/logo2.png" width="300" height="80" alt=""></a>
        {/if}
    </div>
</div>
<!--heard end-->
{block name="content"}主内容{/block}
<!--foot sta-->
<div class="footer">
    <div class="foot">
        <div style="overflow: hidden">
            {volist name="$navData" id="vo"}
            <div class="foot_itmes">
                <dl>
                    <dt><a href="http://{$vo.urls}" target="_blank">{$vo.cname}</a></dt>
                    {volist name='$vo.data' id='sub'}
                    <dd><a href="http://{$sub.urls}">{$sub.cname}</a></dd>
                    {/volist}
                </dl>
            </div>
            {/volist}
            <div class="foot_itmes">
                <img src="__ROOT__/index/img/icon_f1.png" alt="">
                <img src="__ROOT__/index/img/icon_f2.png" alt="">
                <img src="__ROOT__/index/img/icon_f3.png" alt="">
                <img src="__ROOT__/index/img/icon_f4.png" alt="">
                <img src="__ROOT__/index/img/icon_f5.png" alt="">
                <img src="__ROOT__/index/img/icon_f6.png" alt="">
                <br>
                <img src="__ROOT__/index/img/icon_f7.png" alt="">
                <img src="__ROOT__/index/img/icon_f8.png" alt="">
            </div>
            <div class="foot_itmes">
                <img src="__ROOT__/index/img/fot_logo.png" alt="">
            </div>
        </div>
        <div class="heng"></div>
        <div class="support"><a href="http://www.hantehulian.com/" target="_blank">技术支持:晗特互联</a></div>
    </div>
</div>
<!--foot end-->
</body>
<script>
    $(function () {
        var num=1;
        setInterval(run,30);
        function run() {
            num++;
            nums=3*num;
            if (nums>=1220){
                num=0;
                $('.he').css({left:0});
            }else {
                $('.he').css({left:-nums+"px"});
            }
        }

        $('.nav_firsr').mousemove(function () {
          var num=$(this).index('.nav_firsr');
          if (num%2==0){
            $('.nav_nav').eq(num/2).css({'display':'block'}).siblings('.nav_nav').css({'display':'none'});
          }
        });
        $('.nav_nav').mouseleave(function () {
          $('.nav_nav').css({'display':'none'})
        })
    });
</script>
</html>